body {
    font-family: sans-serif;
    font-size: 16px;
}

header {
    background-color: lightgray;
}

nav {
    background-color: lightblue;
}

main {
    background-color: #ffffff;
    font-size: 18px;
}

footer {
    background-color: lightgray;
}

li {
    display: inline-block;
    width: 150px;
}

h1 {
    text-align: center;
    font-family: serif;
    color: navy;
}

p {
    line-height: 1.5;
}

/* Skip link */
.skip-link {
    position: absolute;
    left: -999px;
}
.skip-link:focus {
    left: 10px;
    background: yellow;
    padding: 5px;
}
